# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Virtual environment
venv/

# VSCode settings
.vscode/

# Pytest cache
.pytest_cache/

# Logs
*.log

# Instance folder (Flask app instance-specific config)
instance/
.tox/


