{% extends "base.html" %} 

{% block title %}zDashboard{% endblock %}

{% block content %}
<div class="container">
  {# turn OFF section #}
  <div class="btn2">
    <div class="btn">
      <p>TURN ON</p>
      <button id="all-on" type="submit" name="ON">ALL</button>

      {# dropdown #}
      <div class="dropdown">
        <button class="dropdown-btn">Select Node</button>
        <div class="dropdown-content">
          <div class="search-wrapper">
            <input type="text" id="dropdownSearch1" placeholder="Search..." />
            <button class="go-btn" id="goBtn1">GO</button>
          </div>
          {% for node in nodes %}
          <a>{{ node.id }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    <br />
  </div>

  {# turn OFF section #}
  <div class="btn2">
    <div class="btn">
      <p>TURN OFF</p>
      <button id="all-off" type="submit" name="OFF">ALL</button>

      {# dropdown #}
      <div class="dropdown">
        <button class="dropdown-btn">Select Node</button>
        <div class="dropdown-content">
          <div class="search-wrapper">
            <input type="text" id="dropdownSearch2" placeholder="Search..." />
            <button class="go-btn" id="goBtn2">GO</button>
          </div>
          {% for node in nodes %}
          <a>{{ node.id }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  
  {# status table here #}
  <br /><br /><br />
  {% include "stat-table.html" %}
</div>
{% endblock %}
