{% extends "base.html" %} 
{% block content %}
<div class="container">
  <div class="btn2">
    <div class="btn">
      <p>TURN ON</p>
      <button id="all-on" type="submit" name="ON">ALL</button>

      <div class="dropdown">
        <button class="dropdown-btn">Select Node</button>
        <div class="dropdown-content">
          <div class="search-wrapper">
            <input type="text" id="dropdownSearch1" placeholder="Search..." />
            <button class="go-btn" id="goBtn1">GO</button>
          </div>
          {% for node in nodes %}
          <a>{{ node.id }}</a>
          {% endfor %}
        </div>
      </div>
    </div>

    <br />
  </div>

  <div class="btn2">
    <div class="btn">
      <p>TURN OFF</p>
      <button id="all-off" type="submit" name="OFF">ALL</button>

      <div class="dropdown">
        <button class="dropdown-btn">Select Node</button>
        <div class="dropdown-content">
          <div class="search-wrapper">
            <input type="text" id="dropdownSearch2" placeholder="Search..." />
            <button class="go-btn" id="goBtn2">GO</button>
          </div>
          {% for node in nodes %}
          <a>{{ node.id }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <br /><br /><br />
    {# table here #}
    <div id="table">
      {% include "stat-table.html" %}
    </div>
</div>
{% endblock %}
