{% extends "base.html" %}
{% block title %}zRegister{% endblock %}
{% block content %}
    <br><br>
    <div class="container">
        <h3>Register To Login...</h3>
        {% if fail %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>There was an error adding that user!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% elif duplicate %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Username already exists!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <form action="" method="post">
            <ol>{{ form.hidden_tag() }}</ol>
            <ol>{{ form.username }}</ol>
            <ol>{{ form.password }}</ol>
            <ol>{{ form.submit }}</ol>
        </form>
        <br><br>
        <a href="{{ url_for("index") }}">Already have an account? Login</a>
    </div>
    
{% endblock %}